---
import * as styles from './_index.css';
import { type SettingProps, getDescriptionId, getId } from './_utils';

export type Props = SettingProps & { children: unknown };

const { props } = Astro;
---

<div id={props.containerId} class={styles.setting}>
	<label for={getId(props.key)}>{props.label}</label>
	{props.description && <span id={getDescriptionId(props.key)}>{props.description}</span>}
	<slot />
</div>
