---
import { configKeys } from '~/generated/config.ts';
import Layout from '~/layouts/Layout.astro';
import SettingInput from './_SettingInput.astro';
---

<Layout showSave>
	<h1>Settings</h1>

	<SettingInput
		key={configKeys.name}
		label="Device name"
		description="Used in the Wi-Fi SSID to differentiate this VerTX handset from any others in range."
		type="text"
		maxlength={20}
	/>
	<SettingInput
		key={configKeys.leds.brightness}
		label="Status LED brightness"
		type="number"
		min={10}
		max={255}
	/>

	<h2>Backup</h2>
	<p>TODO: backup and restore buttons</p>

	<h2>Wi-Fi</h2>

	<SettingInput
		key={configKeys.network.password}
		label={"Password"}
		type="password"
		maxlength={64}
	/>

	<h3>Home</h3>

	<SettingInput
		key={configKeys.network.home.ssid}
		label="SSID"
		type="text"
		maxlength={32}
	/>
	<SettingInput
		key={configKeys.network.home.password}
		label="Password"
		type="password"
		maxlength={64}
	/>

	<script>
		import { Reader } from 'postcard';
		import { getBinary, post } from '~/api/index.ts';
		import { encodeConfig, parseConfig } from '~/generated/config.ts';
		import { getId } from './_utils.ts';

		const rawConfig = await getBinary('config');
		const config = parseConfig(new Reader(new DataView(rawConfig)))

		const getInput = (i: number) => document.getElementById(getId(i)) as (HTMLInputElement | null);

		for (let i = 0; i < config.length; i++) {
			const input = getInput(i);
			if (input) {
				input.value = config[i] as string;
			}
		}

		(document.getElementById('save')! as HTMLButtonElement).addEventListener('click', async () => {
			for (let i = 0; i < config.length; i++) {
				const input = getInput(i);
				if (input) {
					const value = input.value;
					config[i] = typeof config[i] === 'number' ? parseInt(value) : value;
				} 
			}
			// TODO: display success/error result
			await post('config', encodeConfig(config));
		});
	</script>
</Layout>
