---
import IconMenu from 'lucide-static/icons/menu.svg';
import IconX from 'lucide-static/icons/x.svg';
import * as styles from '~/styles/components.css.ts';
import { size } from '~/styles/constants.ts';
import Icon from './Icon.astro';
import { stateId } from './menu-selectors.ts';
import './Menu.css.ts';
---

<label
	for={stateId}
	class={styles.iconButton}
	tabindex="0"
	role="button"
	aria-label="Toggle navigation menu"
>
	<Icon icon={IconMenu} size={size.buttonIcon} />
	<Icon icon={IconX} size={size.buttonIcon} />
</label>

<script>
	import { stateId } from './menu-selectors.ts';

	const state: HTMLInputElement = document.querySelector(`#${stateId}`)!;
	const button: HTMLLabelElement = document.querySelector(`[for="${stateId}"]`)!;

	button.addEventListener('keypress', ({ key }) => {
		if (key === ' ' || key === 'Enter') {
			state.checked = !state.checked;
		}
	});
</script>
