---
import iconGamepad from 'lucide-static/icons/gamepad-2.svg?raw';
import iconInfo from 'lucide-static/icons/info.svg?raw';
import iconPackage from 'lucide-static/icons/package.svg?raw';
import iconPlane from 'lucide-static/icons/plane.svg?raw';
import iconSettings from 'lucide-static/icons/settings.svg?raw';

import NavLink from './NavLink.astro';
import * as styles from './Navigation.css';
---

<div class={styles.root}>
	<nav class={styles.nav}>
		<NavLink href="/" label="About" icon={iconInfo} />
		<NavLink href="/settings" label="Settings" icon={iconSettings} />
		<NavLink href="/updates" label="Updates" icon={iconPackage} />
		<NavLink href="/hardware" label="Hardware" icon={iconGamepad} />
		<NavLink href="/models" label="Models" icon={iconPlane} />
	</nav>
</div>
