---
import IconGamepad from 'lucide-static/icons/gamepad-2.svg';
import IconInfo from 'lucide-static/icons/info.svg';
import IconPackage from 'lucide-static/icons/package.svg';
import IconPlane from 'lucide-static/icons/plane.svg';
import IconSettings from 'lucide-static/icons/settings.svg';

import NavLink from './NavLink.astro';
import * as styles from './Navigation.css';
---

<div class={styles.root}>
	<nav class={styles.nav}>
		<NavLink href="/" label="About" icon={IconInfo} />
		<NavLink href="/settings" label="Settings" icon={IconSettings} />
		<NavLink href="/updates" label="Updates" icon={IconPackage} />
		<NavLink href="/hardware" label="Hardware" icon={IconGamepad} />
		<NavLink href="/models" label="Models" icon={IconPlane} />
	</nav>
</div>
